<!-- <div class="col-4 search-section-hide col-4-m">
    <div class="">
      <div class="row">
        <div class="searchIcon"id="searchIcon" (click)="toggleSearch($event)">
          <img style="margin-top: 30px;" src="./searchIcon.png">
        
        </div>
        <div class="mobileSearch" id="mobileSearch"> 
           <input class="search-input" (keyup)="keySearch($event)">
        </div>
       
      </div>

    </div>
    <p class=""></p>
</div> -->

<!-- <div class="fullMobile search-section">
      <div id="bookFilter" class="positionFixed col-4-m col-4">
        <div class="bookFilter  col-9">
          <div class="search-section">
            <h3>Search</h3>
            <input class="search-input" (keyup)="keySearch($event)">
          </div>

          <h3>Decade Scroll</h3>
          <div class="col-m-3 search-section" *ngFor="let decade of decadesList | keyvalue">
            <div (click)="navigateToDecade(decade.value)" class="filterButton">{{decade.key}}</div>
          </div>

        </div>
      </div>
    </div> -->


