<div id="header" class="header">
  <div class="navbar">
    <div class="dropdown">
      <button class="search-section dropbtn">
        <div><img src="menuBurger.png" /></div>

      </button>
      <span class="burger search-section-hide">
        <div>
          <img src="menuBurger.png" />
        </div>

      </span>
      <div class="dropdown-content">
        <a href="/home">Home</a>
        <a href="/home/books">Books</a>
        <a href="/home/music">Music</a>
        <a href="https://sarahloisthompson.com/">Contact</a>
        <a href="#">React Site</a>
      </div>
    </div>
  </div>
</div>