<!-- <div class="body-all"> -->
<div class="col-4 left-container">
  <div class="row">
    <h1 class="col-9-mobile align-center"> Hello! I'm Sarah.</h1>
    <div class="desktop-hide align-center col-3">
      <img class="mobile-menu" (click)="mobileMenu()" alt="mobile Menu" src="assets/hamBug.png" />
    </div>
  </div>
  <div class="desktop-hide">
    <div (click)="mobileMenu()" id="greyMobileNav" class="greyOutMenu">

    </div>
    <div id="mobileNav" class="align-left mobile-submenu">
      <div class="mobile-submenu-box">
        <h2> <a (click)="updateView('About')" class="col-12 home-links">About</a></h2>
        <h2> <a (click)="updateView('Music')" class="col-12 home-links">Music</a></h2>
        <h2> <a (click)="updateView('Books')" class="col-12 home-links">Books</a></h2>
        <h2> <a href="http://sarahloisthompson.com/react-site/" class="col-12 home-links">React</a></h2>
        <h2> <a href="https://www.linkedin.com/in/sarahthompson3/" target="_blank"
            class="col-12 home-links">Linkedin</a></h2>
      </div>
    </div>
  </div>
  <div class="row mobile-hide">
    <a (click)="updateView('About')" class="home-links">About</a>
    <a (click)="updateView('Music')" class="home-links">Music</a>
    <a (click)="updateView('Books')" class="home-links">Books</a>
    <a href="http://sarahloisthompson.com/react-site/" class="home-links">React Site</a>
    <a href="https://www.linkedin.com/in/sarahthompson3/" target="_blank" class="home-links">Linkedin</a>

  </div>

  <div class="mobile-hide left-container-sub">
    <div *ngIf="mainShow==='About'">
      <p>
        I am a software developer living in Austin, Texas. Originally from the Chicago 'burbs, I got my undergrad from
        Indiana University's School of Infromatics and Computer Science then headed down to warmer weather. Check out
        the books I've been reading or see the list of albums I'm attempting to work my way through this year. If you
        have any reccomendations on either, I'd truly love to hear them.
      </p>
      <br>
      <p>
        All the art on this site I have created myself using the iconic program that is Window's '98 Paint.
      </p>
    </div>
    <div *ngIf="mainShow==='Books'">
      <p>Established in 2017, Books & Booze is a community book club located in Austin, Texas.
        Founded with the idea to have great conversations about books we wouldn't nessisarily pick up by ourselves,
        this book club has lead its members through story lines and to many different local coffee shops,
        breweries, and patios. With monthly meetings, and a sprawling range of genres, there is only one rule of the
        club</p>
      <ol>
        <li>No books where the dog dies</li>
      </ol>


      <div>
        <!-- <div> -->
        <div class="col-12">
          <div class="align-center col-6">
            <h3 class=""> Genre Filter</h3>
          </div>
          <div class="col-6">
            <div style="margin-top: 18.5px;" (click)="filterGenre('clear')" class="align-center buttonfilter">Clear
              Filters
            </div>
          </div>
        </div>

        <div class="col-6" *ngFor="let genre of genreList">
          <div (click)="filterGenre(genre)" class="align-center buttonfilter">{{genre}}
          </div>
        </div>
        <!-- </div> -->


        <!-- <div class="row"> -->
        <span class="" *ngIf="filterByBooks.length>0">You are filtering to include:
          <span class="" *ngFor="let genrePick of filterByBooks; index as i">
            {{genrePick}}<span *ngIf="filterByBooks.length > (i+1) ">, </span>
          </span></span>
        <!-- </div> -->


        <p>From your filters are viewing {{filteredList.length}}/{{bookList.length}}</p>
      </div>


    </div>



    <div *ngIf="mainShow==='Music'">
      <p>This list comes from personal challenge to listen to at least 150 albums in 2020 with “fresh ears”, to maybe
        write snippets of my
        thoughts when listening to them, and to score them out of 7. This in part came from a desire to not only have
        additional excuses to reach out and talk to
        people whom I care about, but also to expand the genres and albums I listen to on a daily bases. This list is
        compiled from over 30 people. I asked them
        the
        simple question: “If you were going to make a list of albums that people should have listened to, what’s a
        couple albums that would be on your version?”.
      </p>
      <div style="text-align: center">
        <div>Search Music:</div>
        <div class="searchOutside">
          <input class="search" placeholder="Search" (keyup)="keySearch($event)">

        </div>
        <div> Albums displayed: {{filteredMusicList.length}}</div>
      </div>
    </div>
  </div>

</div>
<div class=" right-container">
  <div *ngIf="mainShow==='About'">
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/beach.png" />
    </div>
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/tiles.png" />
    </div>
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/city.png" />
    </div>
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/boat1.png" /></div>
    <div class="desktop-hide">
      <p>
        I am a software developer living in Austin, Texas. Originally from the Chicago 'burbs, I got my undergrad from
        Indiana University's School of Infromatics and Computer Science then headed down to warmer weather. Check out
        the books I've been reading or see the list of albums I'm attempting to work my way through this year. If you
        have any reccomendations on either, I'd truly love to hear them.
      </p>
      <br>
      <p>
        All the art on this site I have created myself using the iconic program that is Window's '98 Paint.
      </p>
    </div>

    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/binary.png" />
    </div>
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/guitar.png" />
    </div>
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/book.png" /></div>
    <div class="col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/desert.png" /></div>
    <div class="mobile-hide col-3-mobile">
      <img style="margin:10px;" class="col-9" src="assets/beach.png" />
    </div>






  </div>
  <div *ngIf="mainShow==='Books'">
    <div *ngFor="let book of filteredList">
      <div class="right-cards col-12">
        <span class="align-center">
          <h4 class="right-card-header">{{book.title}}</h4>
        </span>
        <div class="right-card-body">
          <div style="padding-bottom: 7px;" class="col-full-mobile">
            <div>by {{book.author}} </div>
            <div>Genre: {{book.genre}}</div>
            <div>Year Published: {{book.published}}</div>
            <div>Book # in Club's Selection: {{book.number}}</div>
            <div>Read in Year: {{book.year}}</div>
            <span class="desktop-hide">
              
              <div class="bookLength" *ngIf="101>book.pages">Page Length: {{book.pages}} - V Short</div>
              <div class="bookLength" *ngIf="215>book.pages && book.pages>100">Page Length: {{book.pages}} - Brief</div>
              <div class="bookLength" *ngIf="350>book.pages && book.pages>214">Page Length: {{book.pages}} - Short</div>
              <div class="bookLength" *ngIf="450>book.pages && book.pages>349">Page Length: {{book.pages}} - Medium
              </div>
              <div class="bookLength" *ngIf="600>book.pages && book.pages>449">Page Length: {{book.pages}} - Long-ish
              </div>
              <div class="bookLength" *ngIf="750>book.pages && book.pages>599">Page Length: {{book.pages}} - Longer
              </div>
              <div class="bookLength" *ngIf="850>book.pages && book.pages>749">Page Length: {{book.pages}} - Jeez</div>
              <div class="bookLength" *ngIf="book.pages>849">Page Length: {{book.pages}} - Oouf</div>
              <div class="bookBar col-12">
                <div class="bookBarCenterImage"></div>
                <div *ngIf="book.pages>100" class="bookBarCenter" [style.width.%]="100-(book.pages/9)"></div>
                <div *ngIf="101>book.pages" class="bookBarCenter" [style.width.%]="92"></div>
              </div>
            </span>

          </div>
          <div class="mobile-hide col-6 align-right">
            <div> Page Length: {{book.pages}}</div>
            <div class="bookBar col-8">
              <div class="bookBarCenterImage"></div>
              <div *ngIf="book.pages>100" class="bookBarCenter" [style.width.%]="100-(book.pages/9)"></div>
              <div *ngIf="101>book.pages" class="bookBarCenter" [style.width.%]="92"></div>
            </div>
            <div class="bookLength" *ngIf="101>book.pages">V Short</div>
            <div class="bookLength" *ngIf="215>book.pages && book.pages>100">Brief</div>
            <div class="bookLength" *ngIf="350>book.pages && book.pages>214">Short</div>
            <div class="bookLength" *ngIf="450>book.pages && book.pages>349">Medium</div>
            <div class="bookLength" *ngIf="600>book.pages && book.pages>449">Long-ish</div>
            <div class="bookLength" *ngIf="750>book.pages && book.pages>599">Longer</div>
            <div class="bookLength" *ngIf="850>book.pages && book.pages>749">Jeez</div>
            <div class="bookLength" *ngIf="book.pages>849">Oouf</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mainShow==='Music'">

    <div *ngFor="let album of filteredMusicList">
      <div id={{album.order}} class="right-cards col-12">


        <h4 class="right-card-header align-center">
          {{album.album}} - {{album.band}}
        </h4>
        <div class="right-card-body ">
          <div> Genre: {{album.genre}}<span *ngIf="album.secondaryGenre">, </span> {{album.secondaryGenre}}</div>

          <div>Released in year {{album.year}}</div>
          <div *ngIf="album.quote">
            Song Quote: {{album.quote}}
          </div>
          <div *ngIf="album.review">
            {{album.review}}
          </div>
          <div *ngIf="album.score">
            Score: {{album.score}}/7
          </div>
        </div>
      </div>
    </div>
  </div>
</div>