<div class="main">
  <div class="head-info" (click)="openBookInfo()">
    <div>
      <h1>Books and Booze</h1>
    </div>
    <div class="head-inside" *ngIf="showContent">
      <p>Established in 2017, Books and Booze is a community book club located in Austin, Texas.
        Founded with the idea to have great conversations about books we wouldn't nessisarily pick up by ourselves,
        Books and Booze has lead its members through story lines and to many different local coffee shops, breweries,
        and
        patios. With monthly meetings, and a sprawling range of genres, there is only one rule of the club</p>
      <ol>
        <li>No books where the dog dies</li>
      </ol>
      <p>Below is the list of all the books the club has read up to this point.</p>
    </div>

  </div>
  <div class="row">
    <div>
      <div class="col-3 bookFilter">
        <h4> Genre Filter</h4>
        <div class="filterButton">Mystery</div>
        <div class="filterButton">Spy Fiction</div>
        <div class="filterButton">Non-Fiction</div>
        <div class="filterButton">Science Fiction</div>
        <div class="filterButton">Novel</div>
        <div class="filterButton">Short Stories</div>
        <div class="filterButton">Fantasy</div>
      </div>
    </div>
    <div class="col-4">
      <p class=""> </p>
    </div>
    <div  class="col-8">
      <div style="left:200px"*ngFor="let book of bookList">
        <div class="bookCards">
          <div class="col-3">
            <h2>{{book.number}}</h2>
          </div>
          <div class="col-9">
            {{book.title}} by {{book.author}}
          </div>
          <div>
            Genre: {{book.genre}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>