<div class="main main-m">

  <div class="row">
    <!-- <div>
      <div id="bookFilter" class="col-4 positionFixed">
        <div class="col-9 col-4-m search-section bookFilter">
          <h3 class="search-section"> Genre Filter</h3>
          <div class="col-m-6 col-mm-3" *ngFor="let genre of genreList">
            <div [ngStyle]="{'border':getColor(genre)}" (click)="filterGenre(genre)" class="filterButton">{{genre}}
            </div>
          </div>
          <p>{{filterBy}}</p>
        </div>

      </div>
    </div> -->

    <div class="">
      <div *ngFor="let book of filteredList">
        <div class="right-cards col-12">


          <span style="text-align: center;">
            <h4>{{book.title}}</h4> 
          </span>
          <div class="col-6">
            <div>by {{book.author}} </div>
            <div>Genre: {{book.genre}}</div>
            <div>Year Published: {{book.published}}</div>
            <div>Book # in Club's Selection: {{book.number}}</div>
            <div>Read in Year: {{book.year}}</div>
          </div >
          <div class="col-6" style="text-align: right"> 
            <div> Page Length: {{book.pages}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>