
/* Web Browser */


.left-container{
    text-align: center;
    padding: 30px;
    height: 100vh;
    background-color: antiquewhite;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.left-container-sub{
    text-align: left;
     margin-top: 40px;
}
.right-container{
    padding: 30px;
    margin-left: 40%;
}

.right-cards{
    margin-top:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.mobile-menu{
    height: 30px; 
    padding: 5px;
}

.mobile-submenu{
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    width: 0%;
    height: 100vh;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
   
    margin-top: 8px;
}
.mobile-submenu-box{
    padding: 15px;
}


.home-links{
    padding: 7px;
    font-size: large;
    color: black;
    font-variant: all-petite-caps;
    text-decoration: none;
    transition: 0.3s;
}    

.home-links:hover  {
    text-decoration: underline;
    
}

.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
      /* Create four equal columns that floats next to each other */



.col-3 {
    float: left;
    width: 25%;
  }

.col-4{
    float: left;
    width: 33%;
}


.col-6 {
    float: left;
    width: 50%;
  }

 .col-8{
    float: left;
    width: 66%;
 } 

.col-9 {
    float: left;
    width: 75%;
  }

.col-12 {
      width: 100%;
      float: left;
  }
.col-6-mobile{
    width: 100%;
    float: left;
}
.col-12-mobile{
    width: 50%;
    float: left;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.mobileSearch {
    position: fixed;
    display: none;
    width: 75%;
    margin-left: 5%;
    padding: 3px;
    top: 12px;
    margin-left: 55px;
}
.desktop-hide{
    display: none;
}
.mobile-hide{
    display: unset;
}

.buttonfilter {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    margin: 4px 2px;
    transition-duration: 0.4s;
    padding: 4px;
  }
  
.buttonfilter:hover {background-color: #e7e7e7;}

  

@media only screen and (max-width: 615px) {


    .left-container{
        text-align: left;
        padding: 10px;
        width: 100vw;
        height: 6%;
        top: 0px;
        left: 0px;

    }
    .right-container{
        margin-left: 0%;
        padding-left: 5px;
        padding-right: 5px;
    }

    h1{
        font-size: x-large;
        margin-top: 8px;
    }
    .desktop-hide{
        display: unset;
    }
    .mobile-hide{
        display: none;
    }

    .col-12-mobile{
        width: 90%;
        float: left;
    }

    .col-6-mobile{
        width: 50%;
        float: left;
    }
  }