
/* Web Browser */


.left-container{
    text-align: center;
    padding: 30px;
    height: 100vh;
    background-color: antiquewhite;
    position: fixed;
}
.right-container{
    padding: 30px;
    margin-left: 40%;
}

.right-cards{
    margin-top:15px;
}


.home-links{
    padding: 7px;
    font-size: large;
    color: black;
    font-variant: all-petite-caps;
    text-decoration: none;
}    


.home-links:hover  {
    text-decoration: underline;
    
}
      /* Create four equal columns that floats next to each other */



.col-3 {
    float: left;
    width: 25%;
  }

.col-4{
    float: left;
    width: 33%;
}


.col-6 {
    float: left;
    width: 50%;
  }

 .col-8{
    float: left;
    width: 66%;
 } 

.col-9 {
    float: left;
    width: 75%;
  }

.col-12 {
      width: 100%;
      float: left;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.mobileSearch {
    position: fixed;
    display: none;
    width: 75%;
    margin-left: 5%;
    padding: 3px;
    top: 12px;
    margin-left: 55px;
}
.tablet-hide{
    display: unset;
}
.mobile-hide{
    display: unset;
}

  /* mobile version */

@media only screen and (min-width: 416px) and (max-width:800px) {

    .col-m-12{
        float: left;
        width:100%;
    }
    .col-m-6{
        float: left;
        width: 50%;
    }

    .col-m-3{
        float: left;
        width: 25%;
    }
    .tablet-hide{
        display: none;
    }
    .mobile-hide{
        display: unset;
    }
}

@media only screen and (max-width: 415px) {
    
    .mobile-hide{
        display: none;
    }
  }