
/* Web Browser */
.header {
    /* padding: 5px; */
    text-align: left;
    background: #1abc9c;
    color: white;
    width: 100%;
    font-size: 20px;
    position: fixed;
    padding: 20px;
    padding-left: 50px;
    left:0px;
    top:0px;
}

.headerText{
    color:white;
    text-decoration: none;
}

.headerText:hover {
    text-decoration: underline;
}

.main{
    margin: 30px;
    margin-top:  160px;
}

.search-input{
  position: center;
  width: 75%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid lightslategray;
}

.head-info{
    margin:20px;
    background: lightslategray;
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.head-inside {
        text-align: left;
    }

.bookCards{
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 50px;
    padding: 20px;
    left:25%;
    background: lightslategray;
    border-radius: 2px;
}

.bookFilter{
    text-align: center;
    position: absolute;
    background-color: #1abc9c;
    padding: 20px;
    margin: 20px;
    border-radius: 2px;
}

a:link {
    text-decoration: none;
}

.positionAb{
    position: absolute;
}

.marginLarge{
    margin: 20px;
    /* padding: 20px; */
}

.marginTopLarge{
    margin-top: 20px;
    /* padding: 20px; */
}

.filterButton{
    border: solid;
    border: 4px solid white;
    padding: 8px;
    background:white;
    color: darkslategray;
    margin: 10px;
    border-radius: 2px;
    text-align: center;
}

.filterButton:hover{
    padding: 8px;
    border: 4px solid lightgray;
    background:lightgray;
}

.home-buttons{
    margin:20px;
    background: lightslategray;
    padding: 50px;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}

.home-buttons:hover  {
        background: darkslategray;
      }
  
      /* Create four equal columns that floats next to each other */

.col-1{
    float: left;
    width: 25%;
}

.col-3 {
    float: left;
    width: 8.3%;
  }

.col-4{
    float: left;
    width: 33%;
}

.col-4-nm{
    float: left;
    width: 33%;
}

.col-6 {
    float: left;
    width: 50%;
  }

 .col-8{
    float: left;
    width: 66%;
 } 

.col-9 {
    float: left;
    width: 75%;
  }

.col-12 {
      width: 100%;
      float: left;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


  /* mobile version */

@media only screen and (min-width: 416px) and (max-width:800px) {
    .fullMobile .col-4 {   
        float: left;
        width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .col-m-3{
        float: left;
        width: 25%;
    }
    /* .col-9{
        float: left;
        width: 25%;
    } */

    .col-4-nm{
        float: left;
        width:100%;
    }

    .main{
        margin: 0px;
        margin-top:  160px;
    }

    h3{
        margin:5px;
    }
    .filterButton{
        margin: 4px;
        padding: 0px;
    }
    .filterButton:hover{
        padding: 0px;
        border: 4px solid lightgray;
        background:lightgray;
    }

    .bookFilter{
        padding: 10px;
    }
    /* .head-info{
        width: 100%;
        margin:20px;
        background: lightslategray;
        padding: 10px;
        color: white;
        border-radius: 5px;
        text-align: center;
    } */
    .row-m:after {
        content: "";
        display: table;
        clear: both;
      }

      .col-8{
        float: left;
        width:100%;
      }
}

@media only screen and (max-width: 415px) {
    .fullMobile .col-4 {
        width:100%; /* The width is 100%, when the viewport is 800px or smaller */
      }

    .col-m-3{
        float: left;
        width: 33%;
    }
  }